body {
  background: #0a0a0a;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  padding: 100px 20px;
  font-size: 2em;
}

section {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #00ffff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px;
  font-size: 18px;
}

footer {
  padding: 30px;
  background: black;
  color: gray;
}
.fade {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.8s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
